.root {
  width: 70vw;
  margin: 40vh auto;
  text-align: center;
  z-index: 2;
  padding: 0 1rem;
  background-color: rgba(249, 249, 249, 0.85);
  &:nth-child(2) {
    background: none;
    margin-top: 40vh;
    margin-bottom: 400vh;
  }
  &:nth-child(3) {
    margin-top: 40vh;
    margin-bottom: 60vh;
  }
  &:nth-child(4) {
    margin-top: 40vh;
    margin-bottom: 40vh;
  }
  &:nth-child(5) {
    margin-top: 40vh;
    margin-bottom: 40vh;
  }
  &:nth-child(6) {
    margin-top: 40vh;
    margin-bottom: 10vh;
  }
  > p {
    font-size: 1.3rem;
    font-weight: bold;
  }
}
