.root {
  width: 100%;
  height: 100%;
  position: relative;
}

.stage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.bank {
  height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.chart {
  height: 30%;
}

.labels {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 4;
}

.carbonLabel {
  div:first-child {
    width: 8rem;
    bottom: 50px;
    right: -20px;
  }
  svg {
    path {
      fill: black;
    }
  }
}

.sinkLabel {
  color: #538472;
  div:first-child {
    width: 7rem;
    top: 50px;
    left: 0;
  }
  svg path {
    fill: #538472;
  }
}

.budgetLabel {
  color: #d58d5a;
  div:first-child {
    width: 6rem;
    top: 40px;
    right: 0px;
  }
  svg path {
    fill: #d58d5a;
  }
}

.limitLabel {
  color: #d58d5a;
  div:first-child {
    width: 6rem;
    top: 40px;
    right: 20px;
  }
  svg path {
    fill: #d58d5a;
  }
}
.emissions1940Label {
  div:first-child {
    width: 6rem;
    top: 50px;
    left: 0px;
  }
}

.arrowLabel {
  color: #d58d5a;
  top: 75%;
  right: 20%;
  div:first-child {
    display: none;
  }
  svg path {
    fill: #d58d5a;
  }
}

.limitReached {
  text-align: center;
  font-family: ABCSans, Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 1.2rem;
  position: absolute;
  width: 100%;
  top: 64%;
  strong {
    color: #d58d5a;
  }
}
