.root {
  width: 100%;
  height: 100%;
  position: relative;
}

.carbonLabel {
  bottom: 65%;
  right: 55%;
  p {
    max-width: 100px;
    bottom: 100%;
    transform: translate(-50%);
  }
  svg {
    // transform: rotate(-200deg);
    path {
      fill: red;
    }
  }
}
