.container {
  :global(.Picture .Sizer) {
    background-color: transparent;
  }

  :global(.Picture img) {
    object-fit: contain;
  }

  :global(.ImageEmbed.u-pull) {
    width: 66%;
    margin: 0 auto;
  }
}
.container > div:first-child {
  width: 100% !important;
}

@media (min-width: 1023px) {
  .container {
    --color-panel-background: transparent;

    :global(.ImageEmbed.u-pull) {
      width: 100%;
      margin: 0 auto;
    }
  }

  .graphic {
    width: calc(
      50% - 49.5rem / 2 + (1 / 3 * 49.5rem) / 2 - 1.5rem + ((100% - 49.5rem) / 2) - (30% - 24.75rem) - 10vw
    ) !important;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

:global(.Header-media .Picture .Sizer) {
  background-color: transparent;
}

:global(.Header-media .Picture img) {
  object-fit: contain;
}
