.label {
  font-family: ABCSans, Arial, Helvetica, sans-serif;
  position: absolute;
  font-style: italic;
  transition: opacity ease-out 1s;
  // pointer-events: none;

  path {
    fill: #000;
  }
}
