.root {
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.column {
  transition: transform 0.5s, width 0.5s, height 0.5s;
}

.tick {
  transition: transform 0.5s;
}

.label {
  border: 1px solid #999;
  border-radius: 3px;
  transform: translate(-50%, -110%);
  padding: 0 3px;
}
