:global {
  .Header.u-full {
    display: block;
  }

  .Main.u-layout > .u-full:nth-child(2) {
    margin-top: 0;
  }
}

:global(.Header.u-full).hidden {
  display: none;
}
:global(.Header.u-full).visible {
  display: block;
}

.panel {
  --color-panel-background: rgba(249, 249, 249, 0.85);

  &:nth-child(2) {
    &::before {
      background: none;
    }
    margin-top: 40vh;
    margin-bottom: 520vh;
  }
  &:nth-child(3) {
    margin-top: 0vh;
    margin-bottom: 220vh;
  }
  &:nth-child(4) {
    margin-top: 0vh;
    margin-bottom: 100vh;
  }
  &:nth-child(5) {
    margin-top: 0vh;
    margin-bottom: 80vh;
  }
  &:nth-child(6) {
    margin-top: 0vh;
    margin-bottom: 10vh;
  }
  > p {
    font-size: clamp(1.2rem, 3vw, 1.625rem);
    font-weight: bold;
    text-align: center;
  }
}
