:global {
  .Header.u-full {
    display: none;
  }
}

.panel {
  --color-panel-background: rgba(249, 249, 249, 0.85);

  &:nth-child(2) {
    &::before {
      background: none;
    }
    margin-top: 40vh;
    margin-bottom: 500vh;
  }
  &:nth-child(3) {
    margin-top: 0vh;
    margin-bottom: 240vh;
  }
  &:nth-child(4) {
    margin-top: 0vh;
    margin-bottom: 100vh;
  }
  &:nth-child(5) {
    margin-top: 0vh;
    margin-bottom: 80vh;
  }
  &:nth-child(6) {
    margin-top: 0vh;
    margin-bottom: 10vh;
  }
  > p {
    font-size: clamp(1.2rem, 3vw, 1.625rem);
    font-weight: bold;
    text-align: center;
  }
}
